<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启注解扫描 -->
    <context:component-scan base-package="com.chinasofti"></context:component-scan>
    <!-- 开启注解驱动 -->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!-- 指定静态文件 -->
    <mvc:resources mapping="/static/**" location="/static/"></mvc:resources>

    <!-- 视图解析器 -->
    <bean  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 指定视图前后缀 -->
        <constructor-arg value="/WEB-INF/"></constructor-arg>
        <constructor-arg value=".jsp"></constructor-arg>
    </bean>
    
    <import resource="spring-dataSource.xml"/>
    <import resource="spring-tx.xml"/>
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-dataSource.xml"/>
    <import resource="spring-ehcache.xml"/>

    <!-- 注册拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"  />
            <mvc:exclude-mapping path="/static/**"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/login*"></mvc:exclude-mapping>
            <mvc:exclude-mapping path="/register*"></mvc:exclude-mapping>
            <bean class="com.chinasofti.interceptor.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
</beans>